body {
    width: 100%;
    margin: 0 auto;
    background-color: #f3f2ef;
    padding: 0px;
  }
  
  .top-header-nav{
    position: sticky;
    top: 0px;
  }
  
  header {
  
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px;
  
  }
  
  .logo {
    width: 100%;
  }
  
  
  .header_gauche {
    max-width: 80%;
    margin: 0 auto;
    padding: 0px;
    float: center;
    text-align: center;
    position: relative;
    top: 50%;
  }
  
  
  .header_droite {
    max-width: 10%;
    margin: 0px auto;
    position: relative;
    float: right;
  
  }
  
  
  
  
  .header_droite img {
    display: block;
    margin: 10px auto;
    max-width: 50%;
  }
  
  
  .block {
    border: 3px solid red;
  }
  
  

  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
  
  
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
  
    padding: 14px 16px;
    text-decoration: none;
  
  
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  footer {
    padding: 20px;
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  * {
    box-sizing: border-box;
  }
  
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Creation post */
  
  .create-post {
    background: #fff;
  }
  
  .create-post-input {
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
  }
  
  .create-post-input img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .create-post-input textarea {
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 8px;
  }
  
  ::placeholder {
    font-weight: 500;
  }
  
  .create-post-link {
    display: flex;
    align-items: flex-start;
  }
  
  .create-post-link li {
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .create-post-link img {
    width: 15px;
    margin-right: 5px;
  }
  
  .create-post-link li:last-child {
    background: #dad9d6;
    color: #fff;
    border-top: 0;
    border-right: 0;
  }
  
  
  
  /* liste posts */
  
  .post {
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
  }
  
  .post-author {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .post-author img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
  
  }
  
  .post-author h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  .post-author small {
    display: block;
    margin-bottom: -2px;
  }
  
  
  
  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  
    .column.side,
    .column.middle {
      width: 100%;
    }
  }





  /*--------------------------------Style Caroussel--------------------------------*/


#carrousel {/*Permet de placer le carrousel au centre de la page*/
    position: relative;
    height: 200px;
    width: 700px;
    margin: auto;
    align-items: center;
}

.point{
    position: absolute;/*les 4 lignes suivantes permettent de placer notre liste au centre de la page*/
    top: 50px;
    align-items: center;
    text-align: center;
    color: red;/*Change la couleur du texte si jamais il est nécessaire d'en afficher*/
    list-style-type: none;/*Permet d'éviter l'affichage des points lié à ul*/
}


.prev{/*Permet de définir ele style du bouton précédent. Les coordonnées left et top permettent de le placer sur la page*/
    color: red;
    position: absolute;
    left: 75px;
    top: 250px;
    cursor:pointer;/*Permet de changer le style du curseur lorsque l'on passe dessus*/
    
}

.next{/*A peu près la même chose que pour le bouton précédent mais pour le bouton suivant*/
    color: red;
    position: absolute;
    right: 0px;
    top: 250px;
    cursor:pointer;
}

